.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bg {
  /* The image used */
  background-image: url('./Images/citifilter.jpg');
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-image {
  background-image: url('./Images/citifilter.jpg');
  background-size: cover;
  background-position: center;
  /* Add any other background properties you need */
}

.App-link {
  color: #61dafb;
}

thead{
  text-align: center;
}

.theadr{
  color:darkblue
}

.welcome-message {
  position: absolute;
  top: 10%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.welcome-message h1 {
  font-size: 34px;
  font-weight: bold;
  color:rgba(22, 2, 44, 0.998)
}

.app1 {
  position: relative;
}

.background-image {
  background-image: url('./Images/citifilter.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.para 
{
  position: absolute;
  top: 13%;
  left: 3%;
  color: rgba(255, 255, 255, 0.719);
}

.centre1{
  display: grid;
    justify-content: center;  /* Align in the center */
    align-items: start;       /* Set vertical alignment */

    height: 80px;
    padding: 20px;
  
}

.downloadbtn {
  background: rgb(7, 50, 241);
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  margin: unset;
  position: absolute;
  top: 100px;
  right:100px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
